.navbar-special-style {
    background-color: #020617;
    border-bottom: 1px solid #6366f1;

    .container {

        .logo {


            .icon {
                width: 25px;
                height: 25px;
                border-radius: 8px;
                background-color: #6366f1;
            }

            &:hover {
                .icon {
                    transition: 0.3s;
                    background-color: #3f419c;
                }

                .navbar-brand {
                    transition: 0.3s;
                    color: #743179;
                }
            }

        }

    }

    .active {
        color: #6c6efc !important;
    }

}