.footer-special-style {
  background-color: #050e37 !important;
  color: white;

  a{
      color: rgba(255, 255, 255, 0.48);
      text-decoration: none;
      transition: 0.3s;
  }

  &:hover{
    a{
        color: white;
    }

  }
  

}
